script(src="https://mc.yandex.ru/metrika/watch.js")
script try { var yaCounter35766290 = new Ya.Metrika({ id:#{data.metrika}, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { }
noscript
	div
		img(src="https://mc.yandex.ru/watch/#{data.metrika}" style="position:absolute; left:-9999px;" alt="")