head
	title #{texts.meta.title}
	meta(name="og:title" content=texts.og.title)
	meta(name="og:description" content=texts.og.description)
	meta(name="og:image" content=texts.og.image)
	meta(http-equiv="Content-Security-Policy" content= "default-src https://mc.yandex.ru 'self' 'unsafe-inline' 'unsafe-eval';")
	link(rel="stylesheet" href="./css/index.css")